
.movieCardsContainer::-webkit-scrollbar {
    display: none;
    /* Chrome/Safari scrollbar gizle */
}

.movieCardContainer {
    background-color: var(--color-white-10);
    padding: var(--space-sm) var(--space-sm) var(--space-md) var(--space-sm);
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    border-radius: var(--radius-lg);
    position: relative;
}

.movieCardContainer .ratingButton {
    position: absolute;
    top: 5%;
    left: 5%;
}

.movieCardPoster {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: var(--radius-md);
}

.movieCardTitle {
    flex: 1;
    font: var(--typography-body-small);
    color: var(--color-white-100);
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}